{% load i18n %}
<div id="footer" class="site-footer">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xs-12 col-sm-4 text-center">
                <p>
                    <a class="btn btn-light btn-sm" href="{{ support_href }}"><i class="material-symbols-outlined">help</i> {% trans 'Support'%}</a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 text-center">
                <p>
                    {{ copyright }}
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 text-center">
                <p>
                    {{ site_title }} · {% blocktrans %}Developed by {{ powered_by }}{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</div>
