asgiref==3.2.10
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.4
configparser==5.0.1
crayons==0.4.0
Django==3.1.2
django-filer==2.0.2
django-js-asset==1.2.2
django-mptt==0.11.0
django-polymorphic==3.0.0
easy-thumbnails==2.7
google-api-core==1.23.0
google-api-python-client==1.12.4
google-auth==1.22.1
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
httplib2==0.18.1
idna==2.10
Pillow==8.0.0
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pytz==2020.1
requests==2.24.0
rsa==4.7
selenium==3.141.0
six==1.15.0
sqlparse==0.4.1
Unidecode==1.1.1
uritemplate==3.0.1
urllib3==1.25.11
webdriver-manager==3.2.2
