*.swp
*.pyc
docs/_build
docs/_static
docs/_templates
node_modules
baton/static/baton/app/npm-debug.log
baton/static/baton/app/node_modules
build/
/dist/
tags
tags.lock
tags.temp
django_baton.egg-info/
.ropeproject
.virtualenv
.python-version
.idea
