# Config file for automatic testing at travis-ci.org
language: python
python:
  - 3.6
install:
  - pip install --upgrade pip
  - pip install $DJANGO_VERSION --upgrade
  - pip install google-api-core==1.23.0
  - pip install google-api-python-client==1.12.4
  - pip install google-auth==1.22.1
  - pip install google-auth-httplib2==0.0.4
  - pip install webdriver-manager
  - pip install python-dotenv
  - pip install django-filer
  - pip install django-tinymce
  - pip install django-admin-rangefilter
  - pip install django-admin-autocomplete-filter==0.6.1
  - pip install django-import-export
  - pip install docutils
  - django-admin.py --version
  - pip install selenium
before_script:
  - cd testapp/app && python manage.py migrate && python manage.py runserver &
  - sleep 3
env:
  global:
    - DJANGO_VERSION='Django>=2.2,<3.0'
    - DJANGO_VERSION='Django>=3.0,<3.3'
script:
  - cd testapp/app && python manage.py test
branches:
  only:
    - master
    - feature/e2e-tests
    - debug/tests
sudo: false
