<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div style="background: #444; width: 160px; height: 70px; display: flex; justify-content: center; align-items: center;border-radius: 12px; float: right;">
                <img src="/static/baton/img/logo.png" />
            </div>
        </div>
        <div class="col-md-10">
            <p>Here you should specify exaclty what your news is about.</p>
            <p><strong>As you can see, this is just a plain text field</strong>, this means that you can use all the power of html:</p>
            <ul>
                <li>Lists</li>
                <li>Tables</li>
                <li>Code fragments</li>
                <li>...</li>
            </ul>
        </div>
    </div>
</div>
