// bootstrap
$primary: #002253;
$secondary: #002253;
$info: #002253;
// fonts
$font-family-sans-serif: 'Open Sans', sans-serif !default;

// fonts
$h1-size: 1.6rem;
$h2-size: 1.4rem;
$h3-size: 1.2rem;

$font-size-base: 0.9375rem !default;
$table-striped-bg: #fff !default;
$border-radius: 1rem !default;

$input-border-radius: 4px;
$input-border-width: 1px;


