@import 'variables';
@import '~bootstrap/scss/bootstrap';
$fa-font-path: '../../node_modules/@fortawesome/fontawesome-free/webfonts';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands';
@import 'placeholders';
@import 'main';
@import 'login';
@import 'navbar';
@import 'footer';
@import 'menu';
@import 'dashboard';
@import 'breadcrumbs';
@import 'content';
@import 'changelist';
@import 'changeform';
@import 'changehistory';
@import 'pagination';
@import 'delete_confirmation';
@import 'passwordchange';
@import 'actionresult';
@import 'calendarclock';
@import 'analytics';
@import 'filer';
