{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard"
  ],
  "plugins" : [
    "flow-vars"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "Baton": "readonly",
    "jQuery": "readonly",
    "$": "readonly"
  },
  "rules": {
    "no-unused-vars": "error",
    "no-console": "off",
    "comma-dangle": [2, "only-multiline"],
    "react/react-in-jsx-scope": "off",
    "array-bracket-newline": "off",
    "object-curly-newline": "off",
    "array-element-newline": "off",
    "object-property-newline": "off"
  }
}
