{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard"
  ],
  "plugins" : [
    "flow-vars"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "Baton": "readonly",
    "jQuery": "readonly",
    "$": "readonly"
  },
  "rules": {
    "semi" : [2, "never"],
    "max-len": [2, 120, 2],
    "comma-dangle": [2, "only-multiline"],
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1
  }
}
